<a href="https://colab.research.google.com/github/stackzero00/DatabaseCourse/blob/main/MidTermAssignment_ITS_Service.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from sqlalchemy import create_engine
my_conn = create_engine("sqlite:////content/MidTermAssignmentDB.db")
conn = my_conn.connect()

In [2]:
try:
  my_conn.execute('''
    create table if not exists VEHICLE(
      Vehicle_ID text primary key,
      Registration_ID text,
      Manufacturer text,
      Model text,
      Color text,
      Current_Odometer integer,
      Passanger_Capacity integer,
      Is_Available integer
      );''')
  print("create successfully")
except SQLAlchemyError as e:
  error = str(e.__dict__['orig'])
  print(error)

create successfully

In [3]:
r_set=my_conn.execute('''insert into 'VEHICLE'
('Vehicle_ID', 'Registration_ID', 'Manufacturer', 'Model', 'Color', 'Current_Odometer', 'Passanger_Capacity', 'Is_Available') values
('V1000', '2001ABC', 'Volvo', 'XC90SE', 'Silver', 4350, 4, 0)
''')

In [4]:
r_set=my_conn.execute('''insert into 'VEHICLE'
('Vehicle_ID', 'Registration_ID', 'Manufacturer', 'Model', 'Color', 'Current_Odometer', 'Passanger_Capacity', 'Is_Available') values
('V1001', '2006AFD', 'Kia', 'K7', 'Black', 2195, 4, 0),
('V1002', '2021AHR', 'Tesla', '2020F', 'White', 509, 4, 0),
('V1003', '2020DXF', 'Ford', 'Transit', 'Silver', 974, 2, 0)
''')

In [5]:
try:
  my_conn.execute('''
    create table if not exists VEHICLE_STATE(
      STATUS_ID integer primary key,
      Vehicle_ID integer,
      Action_Type text,
      Odometer integer,
      Final_Cost integer,
      Action_Description text,
      Date text,
      FOREIGN KEY (Vehicle_ID) REFERENCES VEHICLE(Vehicle_ID)
      );''')
  print("create successfully")
except SQLAlchemyError as e:
  error = str(e.__dict__['orig'])
  print(error)

create successfully

In [6]:
try:
  my_conn.execute('''
    create table if not exists COUNTRY(
      Country text primary key,
      Language text
      );''')
  print("create successfully")
except SQLAlchemyError as e:
  error = str(e.__dict__['orig'])
  print(error)

create successfully

In [7]:
try:
  my_conn.execute('''
    create table if not exists OFFICIALS(
      Official_ID integer primary key,
      City_ID text,
      Name text,
      Role text,
      Language text,
      Country,
      FOREIGN KEY (Country) REFERENCES COUNTRY(Country)
      );''')
  print("create successfully")
except SQLAlchemyError as e:
  error = str(e.__dict__['orig'])
  print(error)

create successfully

In [8]:
try:
  my_conn.execute('''
    create table if not exists DRIVER(
      Driver_ID integer primary key,
      Name text,
      License_Num text,
      Clearance_Level integer,
      Language text
      );''')
  print("create successfully")
except SQLAlchemyError as e:
  error = str(e.__dict__['orig'])
  print(error)

create successfully

In [9]:
try:
  my_conn.execute('''
    create table if not exists FATL(
      FATL_ID int primary key,
      Driver_ID integer,
      Qualification_Date text,
      foreign key (Driver_ID) references DRIVER(Driver_ID)
      );''')
  print("create successfully")
except SQLAlchemyError as e:
  error = str(e.__dict__['orig'])
  print(error)

create successfully

In [10]:
try:
  my_conn.execute('''
    create table if not exists STLVT(
      STLVT_ID int primary key,
      Driver_ID integer,
      Qualification_Date text not null,
      Certifying_Authority text not null,
      foreign key (Driver_ID) references DRIVER(Driver_ID)
      );''')
  print("create successfully")
except SQLAlchemyError as e:
  error = str(e.__dict__['orig'])
  print(error)

create successfully

In [11]:
try:
  my_conn.execute('''
    create table if not exists BOOKING_SERVICE(
      Booking_Reference_ID integer primary key,
      Driver_ID integer,
      Official_ID integer,
      Vehicle_ID text,
      Start_Date text,
      Start_Odometer int,
      Pickup_Location_Name text,
      Pickup_DateTime text,
      Pickup_Address text,
      Pickup_Type text,
      End_Date text,
      End_Odometer int,
      Dropoff_Location text,
      Dropoff_DateTime text,
      Dropoff_Address text,
      Dropoff_Type text,
      foreign key (Driver_ID) references DRIVER(Driver_ID),
      foreign key (Official_ID) references OFFICIALS(Official_ID),
      foreign key (Vehicle_ID) references VEHICLE(Vehicle_ID)
      );''')
  print("create successfully")
except SQLAlchemyError as e:
  error = str(e.__dict__['orig'])
  print(error)

create successfully

In [14]:
r_set=my_conn.execute('''insert into 'COUNTRY'
('Country', 'Language') values
('Korea', 'KR'),
('USA', 'US'),
('CHINA', 'CN'),
('UK', 'GB'),
('RUSSIA', 'RU'),
('FRANCE', 'FR'),
('MEXICO','MX'),
('JAPAN','JP')
''')

In [16]:
r_set=my_conn.execute('''insert into 'OFFICIALS'
('Official_ID', 'City_ID', 'Name', 'Role', 'Language', 'Country') values
('1', 'Namdong-gu', 'Tom', 'coach', 'US', 'USA'),
('2', 'Yeonsu-gu', 'James', 'judge', 'FR', 'FRANCE'),
('3', 'Michuhol-gu', 'Minsu', 'physician', 'KR', 'KOREA'),
('4', 'Dong-gu','Paul', 'manager', 'GB', 'UK'),
('5', 'Jung-gu', 'valdimir', 'coach', 'RU', 'RUSSIA')
''')

In [19]:
r_set=my_conn.execute('''insert into 'DRIVER'
('Driver_ID', 'Name', 'License_Num', 'Clearance_Level', 'Language') values
('0', 'John', 'aleicn2018kka10831', 4, 'US'),
('1', 'Max', 'alqn028ow883lxmel2', 2, 'JP'),
('2', 'Alex', 'o92iqmwoapwlo19314', 2, 'FR'),
('3', 'Asruid', 'll9endkfmw8291103j', 4, 'CN'),
('4', 'Tes', 'gbd93n1leianeowlwm', 1, 'RU'),
('5', 'Robbert', 'a3282894jemandlems', 3, 'MX')
''')

In [21]:
r_set=my_conn.execute('''insert into 'FATL'
('FATL_ID','Driver_ID','Qualification_Date') values
('0','1','2006-02-11'),
('1','0','2007-11-14'),
('2','4','2011-05-30')
''')

In [22]:
r_set=my_conn.execute('''insert into 'STLVT'
('STLVT_ID','Driver_ID','Qualification_Date', 'Certifying_Authority') values
('0','2','2005-02-01', 'Local Police Station'),
('1','4','2008-11-24' , 'foreign police station'),
('2','3','2009-05-31' , 'Local Police Station'),
('3','1','2016-05-30', 'Local Police Station')
''')

In [26]:
r_set=my_conn.execute('''insert into 'BOOKING_SERVICE'
('Booking_Reference_ID','Driver_ID','Official_ID','Vehicle_ID','Start_Date', 'Start_Odometer', 'Pickup_Location_Name', 'Pickup_DateTime','Pickup_Address', 'Pickup_Type', 'End_Date', 'End_Odometer', 'Dropoff_Location', 'Dropoff_DateTime','Dropoff_Address', 'Dropoff_Type') values
('0','2','2','V1000','2022-09-30', '0', 'Do-Hwa Station', '2022-09-30 10:30:00','Nam -gu Dowha 2,3-dong 668', 'Station', '2022-09-30', '100', 'INHA-UNIV', '2022-09-30 12:17:00','Inha-ro 100', 'University'),
('1','4','5','V1001','2022-10-01', '100', 'Ju-An Station', '2022-10-01 15:30:00','Ju An-ro 91-1', 'Station','2022-09-30', '400', 'INHA-UNIV', '2022-09-30 12:17:00','Inha-ro 100', 'University' )
''')

In [12]:
r_set=my_conn.execute('''select name from sqlite_master 
  where type = 'table' ''')
for row in r_set:
  print(row)

('VEHICLE',)
('VEHICLE_STATE',)
('COUNTRY',)
('OFFICIALS',)
('DRIVER',)
('FATL',)
('STLVT',)
('BOOKING_SERVICE',)

In [13]:
r_set = my_conn.execute('''select * from VEHICLE ''')
for row in r_set:
  print(row)

('V1000', '2001ABC', 'Volvo', 'XC90SE', 'Silver', 4350, 4, 0)
('V1001', '2006AFD', 'Kia', 'K7', 'Black', 2195, 4, 0)
('V1002', '2021AHR', 'Tesla', '2020F', 'White', 509, 4, 0)
('V1003', '2020DXF', 'Ford', 'Transit', 'Silver', 974, 2, 0)

In [15]:
r_set = my_conn.execute('''select * from COUNTRY ''')
for row in r_set:
  print(row)

('Korea', 'KR')
('USA', 'US')
('CHINA', 'CN')
('UK', 'GB')
('RUSSIA', 'RU')
('FRANCE', 'FR')
('MEXICO', 'MX')
('JAPAN', 'JP')

In [17]:
r_set = my_conn.execute('''select * from OFFICIALS ''')
for row in r_set:
  print(row)

(1, 'Namdong-gu', 'Tom', 'coach', 'US', 'USA')
(2, 'Yeonsu-gu', 'James', 'judge', 'FR', 'FRANCE')
(3, 'Michuhol-gu', 'Minsu', 'physician', 'KR', 'KOREA')
(4, 'Dong-gu', 'Paul', 'manager', 'GB', 'UK')
(5, 'Jung-gu', 'valdimir', 'coach', 'RU', 'RUSSIA')

In [20]:
r_set = my_conn.execute('''select * from DRIVER ''')
for row in r_set:
  print(row)

(0, 'John', 'aleicn2018kka10831', 4, 'US')
(1, 'Max', 'alqn028ow883lxmel2', 2, 'JP')
(2, 'Alex', 'o92iqmwoapwlo19314', 2, 'FR')
(3, 'Asruid', 'll9endkfmw8291103j', 4, 'CN')
(4, 'Tes', 'gbd93n1leianeowlwm', 1, 'RU')
(5, 'Robbert', 'a3282894jemandlems', 3, 'MX')

In [23]:
r_set = my_conn.execute('''select * from FATL ''')
for row in r_set:
  print(row)

(0, 1, '2006-02-11')
(1, 0, '2007-11-14')
(2, 4, '2011-05-30')

In [24]:
r_set = my_conn.execute('''select * from STLVT ''')
for row in r_set:
  print(row)

(0, 2, '2005-02-01', 'Local Police Station')
(1, 4, '2008-11-24', 'foreign police station')
(2, 3, '2009-05-31', 'Local Police Station')
(3, 1, '2016-05-30', 'Local Police Station')

In [27]:
r_set = my_conn.execute('''select * from BOOKING_SERVICE ''')
for row in r_set:
  print(row)

(0, 2, 2, 'V1000', '2022-09-30', 0, 'Do-Hwa Station', '2022-09-30 10:30:00', 'Nam -gu Dowha 2,3-dong 668', 'Station', '2022-09-30', 100, 'INHA-UNIV', '2022-09-30 12:17:00', 'Inha-ro 100', 'University')
(1, 4, 5, 'V1001', '2022-10-01', 100, 'Ju-An Station', '2022-10-01 15:30:00', 'Ju An-ro 91-1', 'Station', '2022-09-30', 400, 'INHA-UNIV', '2022-09-30 12:17:00', 'Inha-ro 100', 'University')