<a href="https://colab.research.google.com/github/stackzero00/DatabaseCourse/blob/main/sqlite_lab_session_drop_and_create.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from sqlalchemy import create_engine
my_conn = create_engine("sqlite:////content/my_db.db")

In [2]:
from sqlalchemy.exc import SQLAlchemyError
try:
  my_conn.execute('''drop table student''')
  print("student table deleted")
except SQLAlchemyError as e:
  error = str(e.__dict__['orig'])
  print(error)

student table deleted

In [4]:
from sqlalchemy.exc import SQLAlchemyError
try:
  my_conn.execute('''
    create table if not exists student(
      id integer primary key,
      name text,
      class text,
      mark integer,
      sex text
      );''')
  print("create successfully")
except SQLAlchemyError as e:
  error = str(e.__dict__['orig'])
  print(error)

create successfully

In [5]:
r_set=my_conn.execute('''insert into 'student'
('id', 'name', 'class', 'mark', 'sex') values
(1, 'John Deo', 'Four', 75, 'female')
''')